// work common
.work_Detail {
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    .work__title {
        position: absolute;
        top: 3vh;
        left: 50%;
        text-align: center;
        font-weight: 100;
        transform: translatex(-50%);
        text-align: center;
        z-index: 10000;
        background: #1913105d;
        backdrop-filter: blur(10px);
        cursor: pointer;

        h2 {
            text-transform: uppercase;
            font-family: var(--mainEn-font);
            font-size: 1.5vw;
            font-weight: lighter;
            line-height: 1;
            color: #DC5B37;
        }

        span {
            display: inline-block;
            margin: 0.5vw 0;
            text-transform: uppercase;
            font-family: var(--mainSub-font2);
            font-size: 0.9vw;
            letter-spacing: 1px;
            line-height: 1;
        }
    }

    .work_center {
        &.left {
            .center_text {
                display: block;
                text-transform: uppercase;
                font-family: var(--mainEn-font);
                font-size: 10vw;
                line-height: 1;
                text-align: right;
                margin-bottom: -3vw;
                margin-right: -4vw;

                p {
                    font-weight: lighter;
                    display: inline-block;
                    line-height: 1;
                }
            }


            .work_img_wrap {
                width: 80vw;
                height: 45vh;
                position: relative;
                z-index: -1;

                &.youtube {
                    background-image: url(../../image/i6-min.png);
                    background-position: center;
                    background-size: cover;
                }

                &.mouse {
                    background-image: url(../../image/i9-min.png);
                    background-position: center;
                    background-size: cover;
                }

                &.aboutme {
                    background-image: url(../../image/min.png);
                    background-position: center;
                    background-size: contain;
                }

                &.slide {
                    background-image: url(../../image/i11-min.png);
                    background-position: center;
                    background-size: cover;
                }

                &.movie {
                    background-image: url(../../image/i10-min.png);
                    background-position: center;
                    background-size: cover;
                }

            }

            .desc {
                width: 30%;
                font-family: var(--mainKo-font);
                font-size: 1vw;
                margin-left: auto;
                margin-right: -15vw;
                margin-top: -4vw;


                span {
                    backdrop-filter: blur(5px);
                    width: 100%;
                    display: inline-block;
                    text-align: left;
                    font-size: 1.13rem;
                }

            }
        }

        &.right {
            display: flex;
            flex-wrap: wrap;
            align-self: flex-end;
            justify-content: flex-end;

            .center_text {
                display: block;
                width: 82vw;
                text-transform: uppercase;
                font-family: var(--mainEn-font);
                font-size: 10vw;
                line-height: 1;
                text-align: left;
                margin-bottom: -3vw;


                p {
                    font-weight: lighter;
                    display: inline-block;
                    line-height: 1;
                }
            }


            .work_img_wrap {
                width: 80vw;
                height: 45vh;
                position: relative;
                z-index: -1;

                &.search {
                    background-image: url(../../image/i1-min.png);
                    background-position: center;
                    background-size: cover;
                }

                &.content {
                    background-image: url(../../image/i4-min.png);
                    background-position: center;
                    background-size: cover;
                }

                &.gsap {
                    background-image: url(../../image/i7-min.png);
                    background-position: center;
                    background-size: cover;
                }

                &.myuduck {
                    background-image: url(../../image/i8-min.png);
                    background-position: center;
                    background-size: cover;
                }

                &.add {
                    background-image: url(../../image/i12-min.png);
                    background-position: center;
                    background-size: cover;
                }

                &.blog {
                    background-image: url(../../image/i5-min.png);
                    background-position: center;
                    background-size: cover;
                }

            }

            .content_link {
                width: 100%;
                font-family: var(--mainEn-font);
                font-size: 1vw;
                margin-left: auto;
                margin-left: 7vw;
                margin-top: -4vw;

                .email,
                .git {
                    width: 30%;
                    backdrop-filter: blur(5px);

                    span {
                        font-size: 2vw;
                        text-transform: uppercase;
                    }

                    a {
                        font-size: 2vw;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: var(--white200);
                            text-decoration: underline;
                            text-underline-position: under;
                        }
                    }
                }
            }

            .desc {
                width: 100%;
                font-family: var(--mainKo-font);
                font-size: 1vw;
                margin-left: auto;
                margin-left: 8vw;
                margin-top: -4vw;

                span {
                    backdrop-filter: blur(5px);
                    width: 30%;
                    display: inline-block;
                    text-align: left;
                    font-size: 1.13rem;
                }
            }
        }

        &.skill {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-end;

            .center_text {
                display: block;
                width: 82vw;
                text-transform: uppercase;
                font-family: var(--mainEn-font);
                font-size: 10vw;
                line-height: 1;
                text-align: left;
                margin-bottom: -3vw;

                p {
                    font-weight: lighter;
                    display: inline-block;
                    line-height: 1;
                }
            }


            .work_img_wrap {
                width: 80vw;
                height: 45vh;
                position: relative;
                z-index: -1;
                background-image: url(../../image/i2-min.png);
                background-position: center;
                background-size: cover;
            }

            .skill {
                width: 100%;
                font-size: 1vw;
                margin-left: auto;
                margin-left: 8vw;
                margin-top: -16vw;

                ul {
                    width: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    align-content: center;

                    li {
                        width: 33%;
                        padding: 1vw;
                        text-align: center;

                        span {
                            backdrop-filter: blur(5px);
                            display: inline-block;
                            text-align: left;
                            font-size: 2.2vw;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    .work_footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .link_button {
            .work_back_button {
                display: inline-block;
                padding: 1vw;
                font-size: 2vw;
                font-family: var(--mainEn-font);
                font-weight: lighter;
                text-emphasis-style: filled;

                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-thickness: 1px;
                    text-emphasis-style: open;
                }
            }
        }

        .work_btn {
            a {
                display: inline-block;
                padding: 1vw;
                font-size: 2vw;
                font-family: var(--mainEn-font);
                font-weight: lighter;
                text-emphasis-style: filled;
                text-transform: uppercase;

                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-thickness: 1px;
                    text-emphasis-style: open;
                }
            }
        }
    }

}

@media (max-width: 1400px) {
    .work_Detail {
        .mouse__cursor {}

        .work__title {
            h2 {
                font-size: 3vw;
            }

            span {
                font-size: 1.5vw;
            }
        }

        .work_center {

            &.left {
                .center_text {
                    font-size: 11vw;
                    margin-right: 15vw;
                }


                .work_img_wrap {
                    height: 50vh;
                }

                .desc {
                    width: 45%;
                    margin-right: 5vw;

                    span {
                        font-size: 1.4rem;
                    }

                }
            }

            &.right {

                .center_text {
                    font-size: 11vw;
                    left: 20%;

                    p {}
                }


                .work_img_wrap {
                    height: 50vh;
                }

                .content_link {

                    .email,
                    .git {
                        width: 45%;

                        span {
                            font-size: 3vw;
                        }

                        a {
                            font-size: 3vw;
                        }
                    }
                }

                .desc {
                    margin-left: 5vw;

                    span {
                        width: 45%;
                        font-size: 1.4rem;
                    }
                }
            }

            &.skill {
                .center_text {
                    font-size: 11vw;
                    left: 20%;
                }

                .work_img_wrap {
                    height: 60vh;
                }

                .skill {
                    width: 100%;
                    margin-top: -35vw;

                    ul {
                        li {
                            width: 49%;

                            span {
                                font-size: 3vw;
                            }
                        }
                    }
                }
            }

            .work_footer {

                .link_button {
                    .work_back_button {}
                }

                .work_btn {
                    a {}
                }
            }
        }
    }
}

// @media (max-width: 800px) {
//     .work_Detail {
//         align-items: center;
//         align-content: center;
//         justify-content: center;

//         .work__title {
//             top: 3vh;

//             h2 {
//                 font-size: 5vw;
//             }

//             span {
//                 font-size: 2.7vw;
//             }
//         }

//         .work_center {
//             width: 100%;
//             margin-top: 5vh;

//             &.left,
//             &.right {
//                 width: 100%;
//                 display: flex;
//                 flex-wrap: wrap;
//                 align-content: space-around;
//                 justify-content: center;
//                 align-items: center;
//                 text-align: center;

//                 .center_text {
//                     margin: 0;
//                     text-align: center;
//                 }

//                 .work_img_wrap {
//                     width: 100%;
//                     height: 50vh;

//                     &.aboutme {
//                         background-image: url(../../image/min.png);
//                         background-position: center;
//                         background-size: contain;
//                         background-repeat: no-repeat;
//                     }

//                 }

//                 .content_link {
//                     width: 100%;
//                     text-align: center;
//                     margin: 0;
//                     padding: 10px;

//                     .email,
//                     .git {
//                         width: 100%;

//                         span {
//                             font-size: 5vw;
//                         }

//                         a {
//                             font-size: 5vw;
//                         }
//                     }
//                 }

//                 .desc {
//                     width: 100%;
//                     padding: 10px;
//                     font-size: 2.8vw;
//                     margin-top: 0vw;
//                     margin: 0;

//                     span {
//                         width: 100%;
//                         margin: 0;
//                         font-size: 3vw;
//                     }



//                 }
//             }

//             &.skill {
//                 width: 100%;
//                 display: flex;
//                 flex-wrap: wrap;
//                 align-content: center;
//                 justify-content: center;
//                 align-items: center;
//                 text-align: center;

//                 .center_text {
//                     text-align: center;
//                     font-size: 11vw;
//                     margin: 0;
//                 }

//                 .work_img_wrap {
//                     width: 100%;
//                     height: 50vh;
//                     display: flex;
//                     flex-wrap: nowrap;
//                     flex-direction: column;
//                     align-content: center;
//                     overflow: hidden;
//                 }

//                 .skill {
//                     width: 100%;
//                     margin-left: 0;
//                     margin-top: 0;
//                     height: 30%;

//                     ul {
//                         margin-top: 2vh;
//                         margin-right: 5%;
//                         width: 100%;

//                         li {
//                             width: 23%;

//                             span {
//                                 font-size: 3.5vw;
//                             }
//                         }
//                     }
//                 }

//             }


//         }

//         .work_footer {

//             .work_back_button {
//                 span {
//                     font-size: 4vw;
//                 }
//             }

//             .work_btn {
//                 a {
//                     font-size: 4vw;
//                 }
//             }
//         }
//     }
// }

@media (max-width: 800px) {
    .work_Detail {
        .mouse__cursor {}

        .work__title {
            h2 {
                font-size: 3vw;
            }

            span {
                font-size: 1.5vw;
            }
        }

        .work_center {

            &.left {
                .center_text {
                    font-size: 11vw;
                    margin-right: 15vw;
                    margin-bottom: -6vw;
                }


                .work_img_wrap {
                    height: 45vh;
                }

                .desc {
                    width: 60%;
                    margin-right: 5vw;
                    margin-top: 5vw;

                    span {
                        font-size: 2.5vw;
                    }

                }
            }

            &.right {

                .center_text {
                    font-size: 11vw;
                    width: 90vw;
                    margin-bottom: -6vw;
                     p {}
                }


                .work_img_wrap {
                    height: 45vh;
                }

                .content_link {
                    margin-top: 5vw;
                    .email,
                    .git {
                        width: 60%;

                        span {
                            font-size: 3vw;
                        }

                        a {
                            font-size: 3vw;
                        }
                    }
                }

                .desc {
                    margin-left: 5vw;
                    margin-top: 5vw;
                    span {
                        width: 60%;
                        font-size: 2.5vw;
                    }
                }
            }

            &.skill {
                .center_text {
                    font-size: 11vw;
                    left: 20%;
                }

                .work_img_wrap {
                    height: 60vh;
                }

                .skill {
                    width: 100%;
                    margin-top: -35vw;

                    ul {
                        li {
                            width: 49%;

                            span {
                                font-size: 3vw;
                            }
                        }
                    }
                }
            }
        }
        .work_footer {

            .work_back_button {
                span {
                    font-size: 4vw;
                }
            }

            .work_btn {
                a {
                    font-size: 4vw;
                }
            }
        }
    }
}